body {
 background-color:    #303030  ;
 font-family: 'Cabin', sans-serif;
}

.logo {
  color: #fff;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
}

.subheader {
  font-size: 40px;
  color: #337ab7;
  margin: 10px;
  margin-bottom: 40px;
}

.start {
  text-align: center;
}

.sessionNames {
  font-size: 30px;
  color: #337ab7;
  text-transform: uppercase;
  text-align: center;

}

.join {
  font-size: 30px;
  margin-left: 150px;
}

.subsubheader {
  font-size: 25px;
  margin: 30px;
}


.box {
  background-color: #fff;
  margin: 50px;
  width: 90% !important; 
  padding: 50px;
  margin-top: 20px;
  border-radius: 25px;
  display:inline-block;
}

.votePage {
  text-align: center;
}

.counter {
  color: #fff;
  font-size: 50px;
  text-align: center;
  margin: auto;
  width: 100%;
  pointer-events: none;
}


.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin {
  margin-bottom: 10px;
}

.ng-scope {
  height: 100%;
  width: 100%;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  /*-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;*/
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


button:disabled {
  color: lightgrey;
}

.bold {
  font-weight: bold;
}

.bigview {
  max-width: 30%;
  float: left;
}

.large {
  font-size: 2em;
}

.center {
  text-align: center;
}

.laptop-buttons {
  width: 100%;
  position: fixed;
  bottom: 0;
  margin: 5px;
}

.mobile-buttons {
  width: 100%;
  position: fixed;
  bottom: 0;
  margin: 5px;
}

.btn-laptop {
  font-size: 2em;
  border-radius: 5px;
}

.btn-mobile {
  height: 80px;
  width: 80px;
  font-size: 1em;
  border-radius: 50%;
}

.right-mobile {
  margin-right: 40px;
}

.right-laptop {
  margin-right: 80px;
}

.error {
  border: 1px solid red;
  border-radius: 5%;
}

.error-msg {
  color: red;
}

#match {
  margin-bottom: 100px;
}

hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: 1px 0;
  margin: 100px 0 50px 0;
}

.app-logo {
  width: 100px;
}

.session-name {
  position: relative;
  left: 35%;
  font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
  font-size: 20px;
}

.main-nav-menu {
  float: right;
  position:relative;
  /*margin-top: 4px;*/
  margin-right: 20px !important;
}

.navButtons {
  text-align: right;
  width: 100%;
}

.main-nav-menu-icon {
  width: 25px;
  color: #fff;
}

#navList {
  width: 25px;
  font-size: 20px;
  color: #337ab7;
  margin: 20px;
  border-color:#fff solid 1px;
}

.foto {
  display: block;
  margin: 0 auto;
  width: 100%;
}

/*Styles from D3 implementation*/
.bubble-hover {
   fill: #b8c7d9;
}

.bubble-selected {
  stroke: #a8c8ee;
  stroke-width: 5px;
}

.bubble-label {
  pointer-events: none; /* When clicked, the click event falls thru to underlying element*/
  font-family: 'Cabin', sans-serif;
  color: inherit;
  cursor: pointer;
  display: block;
  text-align: center;
  text-decoration: none;
  line-height: 1em;
  position: absolute;
}

.bubble-label .bubble-label-value {
  pointer-events: none; /* When clicked, the click event falls thru to underlying element*/
  font-size: 20px;
  white-space: nowrap;
}

