body, html {
  width: 100%;
  height: 100%;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin {
  margin-bottom: 10px;
}

.ng-scope {
  height: 100%;
  width: 100%;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


button:disabled {
  color: lightgrey;
}

.bold {
  font-weight: bold;
}

.bigview {
  max-width: 30%;
  float: left;
}

.large {
  font-size: 2em;
}

.center {
  text-align: center;
}

.laptop-buttons {
  width: 100%;
  position: fixed;
  bottom: 0;
  margin: 5px;
}

.mobile-buttons {
  width: 100%;
  position: fixed;
  bottom: 0;
  margin: 5px;
}

.btn-laptop {
  font-size: 2em;
  border-radius: 5px;
}

.btn-mobile {
  height: 80px;
  width: 80px;
  font-size: 1em;
  border-radius: 50%;
}

.right-mobile {
  margin-right: 40px;
}

.right-laptop {
  margin-right: 80px;
}
.error {
  border: 1px solid red;
  border-radius: 5%;
}

.error-msg {
  color: red;
}

#match {
  margin-bottom: 100px;
}

hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: 1px 0;
  margin: 100px 0 50px 0;
}

.main-nav {
  height: 35px;
  background:rgba(0,94,255,0.2);
}

.app-logo {
  width: 100px;
}

.session-name {
  position: relative;
  left: 35%;
  font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
  font-size: 20px;
}

.main-nav-menu {
  float: right;
  position:relative;
  margin-top: 4px;
}

.main-nav-menu-icon {
  width: 25px;
}

.nav-list {
  padding-right: 13px;
  z-index: 100;
  cursor: pointer;
  position: absolute;
  left: -80px;
  top: 35px;
  background:rgba(0,94,225,0.3);
}

.foto {
  display: block;
  margin: 0 auto;
  width: 100%;
}


/*Styles from D3 implementation*/
.votePage {
  width: 100%;
  height: 600px;
}

a, a:visited {
  color:#333;
}

text {
  font: 24px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  pointer-events: none;
}


#container {
  padding-top:20px;
  width: 980px;
  border-left: 2px #ddd solid;
  border-right: 2px #ddd solid;
}

header {
  padding: 10px;
}

#book-title {
  font-family: georgia, "times new roman", times, serif;
  color: #555;
  font-size: 2.3em;
  text-align: center;
}

/*.bubble-node {
  fill: #DCE9BE;
}*/

.bubble-hover {
   fill: #b8c7d9;
}

.bubble-selected {
  /*fill: #a8c8ee;*/
  stroke: #a8c8ee;
  stroke-width: 5px;
}

.active {
  color: #A6BA92
}

.bubble-label {
  pointer-events: none; /* When clicked, the click event falls thru to underlying element*/
  font-family: georgia, "times new roman", times, serif;
  color: inherit;
  cursor: pointer;
  display: block;
  text-align: center;
  text-decoration: none;
  line-height: 1em;
  position: absolute;
}

.bubble-label .bubble-label-value {
  pointer-events: none; /* When clicked, the click event falls thru to underlying element*/
  font: 20px sans-serif;
  white-space: nowrap;
}

