<div class="container">
  <form name="signupForm" class="form-signin"
    ng-submit='signup()' novalidate>
    <input name="userInput" type="text"
      class="form-control"
      placeholder="Username"
      ng-model='user.username' value=""
      dst-validate-user
      ng-class="{'error': signupForm.userInput.$invalid && signupForm.$dirty && signupForm.userInput.$error.uniqueUsername}"
      required/>
    <input name="pwdInput" type="password" class="form-control"
      placeholder="Password"
      ng-model='user.password' value=""
      ng-class="{'error': signinForm.pwdInput.$invalid && signinForm.$dirty}"
      required/>
    <button class="btn btn-lg btn-primary btn-block btn-success"
      type="submit"
      ng-disabled="signupForm.$invalid">
      Sign up
    </button>
    <a class="btn btn-lg btn-primary btn-block" href="#/signin">
        Already have an account?
    </a>
    <div class="col-xs-12">
        <span class="error-msg" ng-show="signupForm.userInput.$invalid && signupForm.$dirty">
          {{ error.userInput }}
        </span>
        <span class="error-msg" ng-show="signupForm.pwdInput.$invalid && signupForm.$dirty">
          {{ error.pwdInput }}
        </span>
    </div>
  </form>
</div> 
