 <div class="container">
  <form name="signinForm" class="form-signin" 
    ng-submit='signin()'
    novalidate>
    <input type="text" class="form-control"
      placeholder="Username"
      name="userInput"
      ng-model='user.username' 
      required>
    <input type="password" class="form-control"
      placeholder="Password"
      name="pwdInput"
      ng-model='user.password' 
      required>
    <button class="btn btn-lg btn-primary btn-block btn-success"
      type="submit" >
      Sign in
    </button>
    <a class="btn btn-lg btn-primary btn-block" href="#/signup">
        Don't have an account?
    </a>
    <div class="btn-lg btn-danger" ng-show="error.signinError">
      {{ error.signinError }}
    </div>
  </form>
</div> 

