 <div class="container">
  <form class="form-signin" ng-submit='signin()' novalidate>
    <label for="inputEmail" class="sr-only">Username</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Username" ng-model='user.username' ng-class="{ 'error': signinForm.userInput.$invalid && signinForm.$dirty }" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" ng-model='user.password' ng-class="{ 'error': signinForm.pwdInput.$invalid && signinForm.$dirty }" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="signinForm.$invalid">Sign in</button>
    <a class="btn btn-lg btn-primary btn-block" href="#/signup">
        Don't have an account?
    </a>
  </form>
</div> <!-- /container -->

